.textarea {
    .form-control {
        background: #f4f7fb;
        border-radius: 8px;
        border: none;
        color: var(--color-grey-light-3);
        padding: 1.5rem;
        font-size: 1.4rem;
    }
}
