.form-control.custom-registerdropdown {
    // select:focus {
    //     background-color: lightblue;
    // }
    .select-box-option:focus {
        // display: block;
        // padding: 15px;
        background-color: lightblue;
    }
    font-size: 1.9rem;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    padding: 1.3rem 2rem;
    border-radius: 0.7rem;
    border: 0.1rem solid var(--color-grey-light-3);
    background-color: var(--color-white-3);
}
.select-control {
    background-color: var(--color-white-3);
}
.name-req-create-member {
    font-size: 1.4rem;
    font-weight: 600 !important;
    @media screen and (max-width: 575px) {
        font-size: 1.4rem;
    }
    color: var(--color-black-1);
}
